{% extends 'base_public.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="graph">
        <canvas id="myChart" width="500" height="230"></canvas>
    </div>
    <a href=".">
        <button>Previous Page</button>
    </a>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        $.get('{% url data_url %}', function (data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx, data);
        });
    </script>
{% endblock %}
