<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <title>{% block title %}Louis Nicolle{% endblock %}</title>
</head>
<body>
<main>
    {% if user.is_authenticated %}
        {% block content %}
        {% endblock %}
    {% else %}
        <h3>Login with Admin</h3>
        <li><a href="/admin">Admin</a></li>
    {% endif %}
</main>
</body>
</html>
