{% extends 'bio/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
    Hi, I'm Louis Nicolle, french freelance and former CTO, expert in back-end and data engineering<br>
    I would be glad to help you, contact me if you have a project.<br>
    Find more informations on the following links.<br><br>

    <ul>
        {% load static %}
        <li><a href="{% static 'bio/cv.pdf' %}">CV</a></li>
        <li><a href="https://www.linkedin.com/in/louis-nicolle-937568109/">Linkedin</a></li>
        <li><a href="https://github.com/NicolleLouis">GitHub</a></li>
        <li><a href="medium">Medium</a> </li>
    </ul>
{% endblock content %}
