{% extends 'bio/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
    Here is a list of my medium articles<br>
    <ul>
        <li><a href="https://medium.com/@louisn_23157/getting-started-genetic-algorithms-python-tutorial-81ffa1dd72f9">Genetic
            Algorithm Tutorial</a></li>
        <li><a href="https://medium.com/@louisn_23157/optimization-mutation-genetic-algorithm-40247f8ccb8">Genetic
            Algorithm Optimizing the mutation rate</a></li>
        <li><a href="https://medium.com/@louisn_23157/interactive-dashboard-crossfilter-dcjs-tutorial-7f3a3ea584c2">Interactive
            Dashboard</a></li>
        <li><a href="https://medium.com/@louisn_23157/tests-saved-data-project-python-django-cee9a32a8e97">About
            testing</a></li>
    </ul>
{% endblock content %}

{% block javascript %}
    <script>
    </script>
{% endblock %}