{% extends 'base_public.html' %}

{% block title %}Aeon's End Statistics{% endblock %}

{% block content %}
    <h3>Aeon Statistics !!!</h3>
    <br/>
    <ul>
        <li><a href="nemesis_win_rate">Nemesis Win-Rate</a></li>
        <li><a href="nemesis_difficulty_win_rate">Win Rate by Nemesis Difficulty</a></li>
        <li><a href="mage_number_win_rate">Win Rate by Mage Number</a></li>
        <li><a href="mage_popularity">Mage Popularity</a></li>
        <li><a href="effective_damage">Damage Dealt to Nemesis by damage available</a></li>
    </ul>
    <p>To add your own game data ask an admin access to: "contact@louisnicolle.com"</p>
{% endblock %}
