{% extends 'base.html' %}
{% load static %}

{% block title %}Nemesis Win Rate{% endblock %}

{% block content %}
    <h1>Some Line Charts loaded in Ajax!</h1>

    <canvas id="myChart" width="500" height="350"></canvas>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        $.get('{% url "nemesis_win_rate_data" %}', function (data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx, {
                type: 'bar', data: data
            });
        });
    </script>
{% endblock %}
